{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,400i,600,800" rel="stylesheet">

<div class="jumbotron">
    <h1>Vondst, de Reis van Joachim</h1>
    <p class="lead">
        Je kunt nu de reis van Joachim volgen.
        Klik op een stad en je ziet dan een
        overzicht van de beschikbare lessen.
    </p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><p><a href="{% url 'project1' %}">VOC en WIC</a></p></h2>
        <body>
            <img src="{% static 'app/content/images/VOC.jpg' %}" style='max-width:350px; width: auto; height: auto;' />
        </body>
        <br />
        <p>Nederlands, Geschiedenis • Les</p>
        <br />
        <p>
            Zowel de Verenigde Oostindische
            Compagnie (VOC) als de West-Indische
            Compagnie (WIC) werd aan het begin van
            de zeventiende eeuw opgericht op
            initiatief van de Staten-Generaal – het
            hoogste bestuursorgaan in de Republiek
            der Zeven Verenigde Nederlanden.
            Hoewel beide handelscompagnieën een
        </p>        
       
    </div>
    <div class="col-md-4">
        <h2><p><a href="{% url 'project2' %}">Latijn: vroeger en nu</a></p></h2>
        <body>
            <img src="{% static 'app/content/images/LAT.jpg' %}" style='max-width:350px; width: auto; height: auto;' />
        </body>
        <br />
        <p>Nederlands, Latijn • Les</p>
        <br />
        <p>
            Op het gymnasium leer je Latijn en
            Grieks. Deze premisse klinkt heel simpel,
            maar welk Latijn en Grieks leer je
            eigenlijk? Met Oudgrieks dat je op
            Nederlandse scholen krijgt, kun je je in
            het hedendaagse Athene niet redden,
            net zomin als dat het Latijn dat je
            bestudeert nog een grote rol speelt in
        </p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VOC en WIC</h2>
        <body>
            <img src="{% static 'app/content/images/VOC.jpg' %}" style='max-width:350px; width: auto; height: auto;' />
        </body>
        <br />
        <p>Nederlands, Geschiedenis • Les</p>
        <br />
        <p>
            Zowel de Verenigde Oostindische
            Compagnie (VOC) als de West-Indische
            Compagnie (WIC) werd aan het begin van
            de zeventiende eeuw opgericht op
            initiatief van de Staten-Generaal – het
            hoogste bestuursorgaan in de Republiek
            der Zeven Verenigde Nederlanden.
            Hoewel beide handelscompagnieën een
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Image -->
        <a href="https://www.ru.nl/radboud-institute-for-culture-history" target="_blank" style="margin: 5px;">
            <img src="/static/app/content/RU_logo_NL.png" style='max-width: 450px; width: auto; height: auto;' title="Radboud Universiteit" />
        </a>

    </div>
</div>

{% endblock %}
