{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<h1>{{ title }}</h1>

<p>Nederlands, Geschiedenis • Les</p>

<body>
    <img src="{% static 'app/content/images/VOC.jpg' %}" style='max-width: 850px; width: auto; height: auto;'
         title="Graph 1, CC BY-NC 2.0 Deed" />
</body>

<div class="row">
    <div class="col-md-8">
        <h3>{{ benmat }}</h3>
        <br />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et
        </p>        
        <br />
        <h3>{{ algleer }}</h3>
        <br />
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et
        </p>
    </div>
</div>
{% endblock %}
